<html>
<head>
  <title>App</title>
  <script type="text/javascript">
    window.API = {
      key: '',
    };
  </script>
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.JS_BUNDLE %>"></script>
</head>
<body>
  <div id="main" />
</body>
</html>
